<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="tabs.css" />
  </head>
  <body>
    <div class="tabs">
      <ul class="tab-list">
        <li class="tab-list-item active">
          <a href="#tab-1" class="tab-list-trigger">Tab 1</a>
        </li>
        <li class="tab-list-item">
          <a href="#tab-2" class="tab-list-trigger">Tab 2</a>
        </li>
        <li class="tab-list-item">
          <a href="#tab-3" class="tab-list-trigger">Tab 3</a>
        </li>
      </ul>

      <div id="tab-1" class="tab-content">
        <h3>Tab 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tenetur
          quibusdam, reprehenderit pariatur eaque optio quidem possimus eveniet
          vitae delectus. Assumenda velit non ducimus ipsa similique nobis alias
          sed quis?
        </p>
      </div>
      <div id="tab-2" class="tab-content">
        <h3>Tab 2</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tenetur
          quibusdam, reprehenderit pariatur eaque optio quidem possimus eveniet
          vitae delectus. Assumenda velit non ducimus ipsa similique nobis alias
          sed quis?
        </p>
      </div>
      <div id="tab-3" class="tab-content">
        <h3>Tab 3</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tenetur
          quibusdam, reprehenderit pariatur eaque optio quidem possimus eveniet
          vitae delectus. Assumenda velit non ducimus ipsa similique nobis alias
          sed quis?
        </p>
      </div>
    </div>

    <script src="tabs.js"></script>
  </body>
</html>
