<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="tabs.css" />
  </head>
  <body>
    <div class="tabs">
      <ul class="tab-list">
        <li class="tab-list-item">
          <a href="#tab-1" class="tab-list-trigger active">Tab 1</a>
        </li>
        <li class="tab-list-item">
          <a href="#tab-2" class="tab-list-trigger">Tab 2</a>
        </li>
        <li class="tab-list-item">
          <a href="#tab-3" class="tab-list-trigger">Tab 3</a>
        </li>
      </ul>

      <div id="tab-1" class="tab-content active">
        <div class="column">
          <h3>Tab 1</h3>
          <p>
            Doggo ipsum the neighborhood pupper doge tungg super chub you are
            doing me a frighten borkf you are doing me the shock boof, heckin
            noodle horse the neighborhood pupper aqua doggo tungg maximum
            borkdrive. adorable doggo big ol h*ck. Very good spot much ruin diet
            such treat aqua doggo smol borking doggo with a long snoot for pats,
            what a nice floof very jealous pupper he made many woofs. Shoob fat
            boi boof heckin tungg boofers, much ruin diet shooberino h*ck. Dat
            tungg tho aqua doggo long woofer big ol pupper, yapper adorable
            doggo. Doge vvv you are doin me a concern waggy wags he made many
            woofs, super chub aqua doggo. Pupper heckin angery woofer length boy
            long water shoob very taste wow long doggo puggo, yapper I am bekom
            fat adorable doggo the neighborhood pupper blop, extremely cuuuuuute
            long bois wow very biscit heckin good boys and girls heckin.
          </p>
        </div>
        <div class="column">
          <img src="https://images.dog.ceo/breeds/shiba/shiba-19.jpg" />
        </div>
      </div>
      <div id="tab-2" class="tab-content">
        <div class="column">
          <h3>Tab 2</h3>
          <p>
            Extremely cuuuuuute heck long water shoob aqua doggo lotsa pats
            ruff, the neighborhood pupper many pats very good spot blop fluffer
            h*ck, extremely cuuuuuute fluffer mlem thicc. Boofers doing me a
            frighten h*ck doggo doge, blep long water shoob. Doge borkf
            borkdrive porgo what a nice floof I am bekom fat much ruin diet,
            waggy wags heckin angery woofer shibe pupperino dat tungg tho,
            heckin angery woofer heckin good boys stop it fren many pats doge.
            puggo. Fluffer I am bekom fat pupperino borkdrive h*ck shibe maximum
            borkdrive puggorino, extremely cuuuuuute big ol pupperino puggorino
            porgo.
          </p>
        </div>
        <div class="column">
          <img
            src="https://images.dog.ceo/breeds/corgi-cardigan/n02113186_13335.jpg"
          />
        </div>
      </div>
      <div id="tab-3" class="tab-content">
        <div class="column">
          <h3>Tab 3</h3>
          <p>
            fluffer long woofer boof. Heck such treat dat tungg tho boof pupper
            vvv h*ck I am bekom fat wow very biscit, bork pupperino smol borking
            doggo with a long snoot for pats ur givin me a spook heckin good
            boys and girls aqua doggo. You are doing me a frighten stop it fren
            doge h*ck, you are doing me the shock vvv. Fat boi much ruin diet
            maximum borkdrive ur givin me a spook ruff extremely cuuuuuute,
            doggo heckin angery woofer pats borking doggo. Long water shoob
            heckin good boys doggo heckin good boys most angery pupper I have
            ever seen, borkdrive heckin angery woofer heck. Waggy wags the
            neighborhood pupper corgo noodle horse shibe much ruin diet, yapper
            tungg doge bork, wrinkler you are doing me the shock blop stop it
            fren. Porgo shoober fluffer tungg noodle horse aqua doggo, maximum
            borkdrive puggorino aqua doggo. Such treat pupperino very good spot
            fluffer woofer, pats many pats.
          </p>
        </div>
        <div class="column">
          <img
            src="https://images.dog.ceo/breeds/spaniel-cocker/n02102318_9680.jpg"
          />
        </div>
      </div>
    </div>

    <script src="tabs.js"></script>
  </body>
</html>
